@import "./searchBoxStyles.scss";

body {
  background-color: lightblue;
  font-family: sans-serif;
  margin: 0;
}

// section {
//   border: 1px solid red;
//   padding: 5px;
//   margin: 1px;
// }

// div {
//   border: 1px solid;
//   padding: 10px;
//   margin: 3px;
// }
